<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Confirm your account </title>
    <style>
      .button:hover {
        background-color: #141414 !important;
      }
    </style>
</head>

<body>
    <div style="width: 100%; height: auto; margin-left: 20%;">
        <div style="width: 50%;
            border: 7px solid #e50914;
            border-radius: 20px;
            padding: 30px;
            text-align: center;
            background-color: #141414;
            color: #ffffff;"
        >
            <div style="text-align: center;">
                <img src="https://i.imgur.com/y7HL7U1.png" alt="Logo" style="max-width: 100%;
                    width: 170px;
                    height: auto;"
                >
            </div>
            <h1 style="text-transform: uppercase;
                letter-spacing: 5px;
                font-size: 40px;"
            > Confirm Your Email Address </h1>
            <p style="font-size: 20px;
                padding: 20px;
                line-height: 1.5;
                margin-bottom: 20px;"
            > Hi $name. Thank you for signing up for our service. We just need to verify that this email address is yours. Please click the button below to confirm your account. </p>
            <div style="text-align: center;">
                <a href="$link">
                    <button class="button" style="background-color: #89040a;
                        padding: 15px 18px;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 20px;
                        color: #ffffff;
                        margin: 10px 0px;
                        border-radius: 10px;
                        border: 4px solid #ffffff;
                        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
                        transition: all 0.5s ease;"
                    >
                        Confirm Email
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
